@use 'assets/styles/colors'
@use 'assets/styles/functions/sizing'

.home-card
  height: 100%
  margin: sizing.size(1) 0

  &--no-margin
    margin: 0

  &__content
    border-top-width: 2px
    border-top-style: solid
    padding: sizing.size(1)

    &--no-padding-bottom
      padding-bottom: 0

    &--no-border-top
      border-top-width: 0
